body{
  background:url(../images/bg_Argyle.jpg);
}

.center {
  text-align:center;
}

ul{
  list-style-type: circle;
}

#curryimg{
  border:5px double #ff0000;
}

span.red{
  color: red;
}

table.red{
  border-color: red;
  background-color: cornsilk;
  width:  250px;
}

.flex{
  display: flex;
}

#choco{
  width: 13%;
  height: 160px;
}